name: {{ networkname }}

mgmt:
  network: custom_mgmt                # management network name
  ipv4_subnet: 172.30.0.0/16       # ipv4 range

topology:
  defaults:
    kind: linux
  nodes:
    router-WAN:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router-WAN/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router-WAN/frr.conf:/etc/frr/frr.conf
    router-LAN1:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router-LAN1/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router-LAN1/frr.conf:/etc/frr/frr.conf
    router-LAN2:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router-LAN2/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router-LAN2/frr.conf:/etc/frr/frr.conf
    router-Internet:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router-Internet/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router-Internet/frr.conf:/etc/frr/frr.conf
    br-DMZ:
      image: {{ bridgeclientimage }}
    br-LAN1:
      image: {{ bridgeclientimage }}
    br-LAN2:
      image: {{ bridgeclientimage }}
    br-Internet:
      image: {{ bridgeclientimage }}
    Standalone-Client-LAN:
      image: {{ ubuntuimage }}
    alpine-Client-LAN:
      image: {{ alpineimage }}
    Attacker-LAN:
      image: {{ alpineimage }}

# Converting Department Percentages to Number of Clients
{% set devs = (NumberofLANclients | int *DevsPercentage | int *0.01)|int %}
{% set admins = (NumberofLANclients | int *AdminPercentage | int *0.01)|int %}
{% set ops = (NumberofLANclients | int *OpsPercentage | int *0.01)|int %}

# Creating Departments + Clients
{% for i in range(1, devs | int +1) %}
    Client{{ i }}-DEVS-LAN:
      image: {{ bridgeclientimage }}
      binds:
        - /etc/containerlab/{{networkname}}/LANweb.sh:/LANweb.sh
        - /etc/containerlab/{{networkname}}/Cronjobs.sh:/Cronjobs.sh
{% endfor %}
{% for i in range(1, admins | int +1) %}
    Client{{ i }}-ADMINS-LAN:
      image: {{ bridgeclientimage }}
      binds:
        - /etc/containerlab/{{networkname}}/LANweb.sh:/LANweb.sh
        - /etc/containerlab/{{networkname}}/Cronjobs.sh:/Cronjobs.sh
{% endfor %}
{% for i in range(1, ops | int +1) %}
    Client{{ i }}-OPS-LAN:
      image: {{ bridgeclientimage }}
      binds:
        - /etc/containerlab/{{networkname}}/LANweb.sh:/LANweb.sh
        - /etc/containerlab/{{networkname}}/Cronjobs.sh:/Cronjobs.sh
{% endfor %}


    Server1-nginx-DMZ:
      image: {{ webservernginximage }}
      binds:
        - /etc/containerlab/{{networkname}}/DMZsite.conf:/etc/nginx/conf.d/default.conf
    Server2-alpine-DMZ:
      image: {{ alpineimage }}
    Server3-nginx-DMZ:
      image: {{ webservernginximage }}
    Server4-NSD-DMZ:
      image: {{ alpineimage }}
      binds:
        - /etc/containerlab/{{networkname}}/nsd.conf:/etc/nsd/nsd.conf
        - /etc/containerlab/{{networkname}}/DMZsite.dev.zone:/etc/nsd/DMZsite.dev.zone
        - /etc/containerlab/{{networkname}}/httpsDMZsite.dev.zone:/etc/nsd/httpsDMZsite.dev.zone
    Server1-samba-LAN:
      image: {{ sambaimage }}
      binds:
        - /etc/containerlab/{{networkname}}/SMBconf.sh:/root/SMBconf.sh
    Server2-vpn-LAN:
      image: {{ vpnimage }}
      env:
        PUID: 1000
        PGID: 1000
        TZ: Europe/Amsterdam
{% for i in range(1, NumberofWANwebclients | int +1) %}
    Client{{ i }}-WANweb:
      image: {{ alpineimage }}
      binds:
        - /etc/containerlab/{{networkname}}/WANweb.sh:/WANweb.sh
{% endfor %}
{% for i in range(1, NumberofWANvpnclients | int +1) %}
    Client{{ i }}-WANvpn:
      image: {{ alpineimage }}
{% endfor %}
    Attacker-WAN:
      image: {{ pythonimage }}
    Server1-alpine-WAN:
      image: {{ alpineimage }}

  links:

    # router links
    - endpoints: ["router-Internet:eth1", "router-WAN:eth1"]
    - endpoints: ["router-Internet:eth2", "br-Internet:eth1"]

    - endpoints: ["router-WAN:eth2", "router-LAN1:eth1"]
    - endpoints: ["router-WAN:eth3", "router-LAN2:eth1"]
    - endpoints: ["router-WAN:eth4", "br-DMZ:eth1"]

    - endpoints: ["router-LAN1:eth2", "router-LAN2:eth2"]
    - endpoints: ["router-LAN1:eth3", "br-LAN1:eth1"]
    - endpoints: ["router-LAN1:eth4", "br-LAN1:eth2"]
    - endpoints: ["router-LAN1:eth5", "br-LAN1:eth3"]

    - endpoints: ["router-LAN2:eth3", "br-LAN2:eth1"]
    - endpoints: ["router-LAN2:eth4", "br-LAN2:eth2"]


    # client and server links

    - endpoints: ["Attacker-WAN:eth1", "br-Internet:eth4"]
    - endpoints: ["Server1-alpine-WAN:eth1", "br-Internet:eth5"]

{% for k in range(1, NumberofWANwebclients | int +1) %}
    - endpoints: ["Client{{ k }}-WANweb:eth1", "br-Internet:eth{{ k + staticinterfaces_brInternet|int }}"]
{% endfor %}

{% for j in range(1, NumberofWANvpnclients | int +1) %}
    - endpoints: ["Client{{ j }}-WANvpn:eth1", "br-Internet:eth{{ j + staticinterfaces_brInternet|int + NumberofWANwebclients|int }}"]
{% endfor %}

    - endpoints: ["Server1-nginx-DMZ:eth1", "br-DMZ:eth2"]
    - endpoints: ["Server2-alpine-DMZ:eth1", "br-DMZ:eth3"]
    - endpoints: ["Server3-nginx-DMZ:eth1", "br-DMZ:eth4"]
    - endpoints: ["Server4-NSD-DMZ:eth1", "br-DMZ:eth5"]

    - endpoints: ["Server1-samba-LAN:eth1", "br-LAN2:eth3"]
    - endpoints: ["Server2-vpn-LAN:eth1", "br-LAN2:eth4"]

    - endpoints: ["Attacker-LAN:eth1", "br-LAN1:eth4"]
    - endpoints: ["Standalone-Client-LAN:eth1", "br-LAN1:eth5"]
    - endpoints: ["alpine-Client-LAN:eth1", "br-LAN1:eth6"]

# Departments
{% for y in range(1, devs | int +1) %}
    - endpoints: ["Client{{ y }}-DEVS-LAN:eth1", "br-LAN1:eth{{ y + staticinterfaces_brLan1|int }}"]
{% endfor %}

{% for y in range(1, admins | int +1) %}
    - endpoints: ["Client{{ y }}-ADMINS-LAN:eth1", "br-LAN1:eth{{ devs + y + staticinterfaces_brLan1|int }}"]
{% endfor %}

{% for y in range(1, ops | int +1) %}
    - endpoints: ["Client{{ y }}-OPS-LAN:eth1", "br-LAN1:eth{{ devs + admins + y + staticinterfaces_brLan1|int }}"]
{% endfor %}