#!/bin/bash

#Static SMB Server for now

# List all Shares
smbclient -L //192.168.40.5/

# Fetch Developers' Shares


# Fetch User Specific Shares
for clients in {1..{{ NumberofLANclients }}}
do
smbclient //192.168.40.5/$clients -U $clients
done

