#!/bin/sh

docker exec -d clab-{{networkname}}-br-DMZ {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-br-DMZ ip link add name bridge1 type bridge
docker exec -d clab-{{networkname}}-br-DMZ ip link set dev bridge1 up
{% for k in range(1, staticinterfaces_brDMZ|int +1) %}
docker exec -d clab-{{networkname}}-br-DMZ brctl addif bridge1 eth{{ k }}
{% endfor %}

docker exec -d clab-{{networkname}}-br-LAN1 {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-br-LAN1 ip link add name bridge2 type bridge
docker exec -d clab-{{networkname}}-br-LAN1 ip link set dev bridge2 up
{% for k in range(1, NumberofLANclients | int + staticinterfaces_brLan1|int +1) %}
docker exec -d clab-{{networkname}}-br-LAN1 brctl addif bridge2 eth{{ k }}
{% endfor %}

docker exec -d clab-{{networkname}}-br-LAN2 {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-br-LAN2 ip link add name bridge4 type bridge
docker exec -d clab-{{networkname}}-br-LAN2 ip link set dev bridge4 up
docker exec -d clab-{{networkname}}-br-LAN2 brctl addif bridge4 eth1
docker exec -d clab-{{networkname}}-br-LAN2 brctl addif bridge4 eth2
docker exec -d clab-{{networkname}}-br-LAN2 brctl addif bridge4 eth3

docker exec -d clab-{{networkname}}-br-Internet {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-br-Internet ip link add name bridge3 type bridge
docker exec -d clab-{{networkname}}-br-Internet ip link set dev bridge3 up
{% for h in range(1, NumberofWANwebclients|int + NumberofWANvpnclients|int + staticinterfaces_brInternet|int +1) %}
docker exec -d clab-{{networkname}}-br-Internet brctl addif bridge3 eth{{ h }}
{% endfor %}