#!/bin/sh

docker exec -d clab-{{networkname}}-br1-DMZ ip link add name bridge1 type bridge
docker exec -d clab-{{networkname}}-br1-DMZ ip link set dev bridge1 up
docker exec -d clab-{{networkname}}-br1-DMZ brctl addif bridge1 eth1
docker exec -d clab-{{networkname}}-br1-DMZ brctl addif bridge1 eth2
docker exec -d clab-{{networkname}}-br1-DMZ brctl addif bridge1 eth3

docker exec -d clab-{{networkname}}-br2-LAN ip link add name bridge2 type bridge
docker exec -d clab-{{networkname}}-br2-LAN ip link set dev bridge2 up
{% for k in range(1, NumberofLANclients | int +7) %}
docker exec -d clab-{{networkname}}-br2-LAN brctl addif bridge2 eth{{ k }}
{% endfor %}

docker exec -d clab-{{networkname}}-br3-Internet ip link add name bridge3 type bridge
docker exec -d clab-{{networkname}}-br3-Internet ip link set dev bridge3 up
{% for h in range(1, NumberofWANclients | int +6) %}
docker exec -d clab-{{networkname}}-br3-Internet brctl addif bridge3 eth{{ h }}
{% endfor %}