#!/bin/sh

docker exec -d clab-{{networkname}}-router1-WAN ip route delete default
docker exec -d clab-{{networkname}}-router2-LAN ip route delete default
docker exec -d clab-{{networkname}}-router3-Internet ip route delete default

docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -d 10.0.0.0/8 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -d 192.168.0.0/16 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -d 172.16.0.0/12 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -d 127.0.0.0/8 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -d 169.254.0.0/16 -j DROP

docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -s 10.0.0.0/8 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -s 192.168.0.0/16 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -s 172.16.0.0/12 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -s 127.0.0.0/8 -j DROP
docker exec -d clab-{{networkname}}-router3-Internet iptables -A FORWARD -s 169.254.0.0/16 -j DROP

docker exec -d clab-{{networkname}}-router2-LAN iptables --table nat --append POSTROUTING --out-interface eth1 -j MASQUERADE

docker exec -d clab-{{networkname}}-router1-WAN iptables -A FORWARD -d 123.123.100.10 -p tcp --dport 80 -j ACCEPT
docker exec -d clab-{{networkname}}-router1-WAN iptables -A FORWARD -s 123.123.100.10 -p tcp -j ACCEPT
docker exec -d clab-{{networkname}}-router1-WAN iptables -A FORWARD -s 123.123.100.11 -j ACCEPT
docker exec -d clab-{{networkname}}-router1-WAN iptables -A FORWARD -d 123.123.100.11 -j ACCEPT
docker exec -d clab-{{networkname}}-router1-WAN iptables -A FORWARD -s 123.123.123.2 -j ACCEPT
docker exec -d clab-{{networkname}}-router1-WAN iptables -A FORWARD -d 123.123.123.2 -j ACCEPT
