#!/bin/sh

docker exec -d clab-{{networkname}}-Server1-nginx-DMZ sysctl {{ ipv6_configuration }}
docker exec clab-{{networkname}}-Server1-nginx-DMZ apt-get update -y
docker exec clab-{{networkname}}-Server1-nginx-DMZ apt-get install {{ basic_packages }}

docker exec clab-{{networkname}}-Server1-nginx-DMZ ip addr add 123.123.100.10/24 dev eth1
docker exec clab-{{networkname}}-Server1-nginx-DMZ ip route delete default
docker exec clab-{{networkname}}-Server1-nginx-DMZ ip route add 0.0.0.0/0 via 123.123.100.1 dev eth1
docker exec clab-{{networkname}}-Server1-nginx-DMZ bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec -d clab-{{networkname}}-Server2-ubuntu-DMZ {{ ipv6_configuration }}
docker exec clab-{{networkname}}-Server2-ubuntu-DMZ apt-get update -y
docker exec clab-{{networkname}}-Server2-ubuntu-DMZ apt-get install iproute2 -y
docker exec clab-{{networkname}}-Server2-ubuntu-DMZ apt-get install inetutils-ping -y

docker exec clab-{{networkname}}-Server2-ubuntu-DMZ ip addr add 123.123.100.11/24 dev eth1
docker exec clab-{{networkname}}-Server2-ubuntu-DMZ ip route delete default
docker exec clab-{{networkname}}-Server2-ubuntu-DMZ ip route add 0.0.0.0/0 via 123.123.100.1 dev eth1
docker exec clab-{{networkname}}-Server2-ubuntu-DMZ bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec -d clab-{{networkname}}-Server1-nginx-WAN {{ ipv6_configuration }}
docker exec clab-{{networkname}}-Server1-nginx-WAN apt-get update -y
docker exec clab-{{networkname}}-Server1-nginx-WAN apt-get install {{ basic_packages }}

docker exec clab-{{networkname}}-Server1-nginx-WAN ip addr add 5.20.0.10/8 dev eth1
docker exec clab-{{networkname}}-Server1-nginx-WAN ip route delete default
docker exec clab-{{networkname}}-Server1-nginx-WAN ip route add 0.0.0.0/0 via 5.0.0.1 dev eth1
docker exec clab-{{networkname}}-Server1-nginx-WAN bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec -d clab-{{networkname}}-Server2-ubuntu-WAN {{ ipv6_configuration }}
docker exec clab-{{networkname}}-Server2-ubuntu-WAN apt-get update -y
docker exec clab-{{networkname}}-Server2-ubuntu-WAN apt-get install {{ basic_packages }}
docker exec clab-{{networkname}}-Server2-ubuntu-WAN apt-get install curl ssh smbclient -y

docker exec clab-{{networkname}}-Server2-ubuntu-WAN ip addr add 5.20.0.11/8 dev eth1
docker exec clab-{{networkname}}-Server2-ubuntu-WAN ip route delete default
docker exec clab-{{networkname}}-Server2-ubuntu-WAN ip route add 0.0.0.0/0 via 5.0.0.1 dev eth1
docker exec clab-{{networkname}}-Server2-ubuntu-WAN bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec -d clab-{{networkname}}-Server1-samba-LAN {{ ipv6_configuration }}
docker exec clab-{{networkname}}-Server1-samba-LAN apt-get update -y
docker exec clab-{{networkname}}-Server1-samba-LAN apt-get install {{ basic_packages }}
docker exec clab-{{networkname}}-Server1-samba-LAN apt-get install curl ssh smb -y
docker exec clab-{{networkname}}-Server1-samba-LAN chmod u+x /root/SMBconf.sh
docker exec clab-{{networkname}}-Server1-samba-LAN bash /root/SMBconf.sh
 

docker exec clab-{{networkname}}-Server1-samba-LAN ip addr add 192.168.40.5/24 dev eth1
docker exec clab-{{networkname}}-Server1-samba-LAN ip route delete default
docker exec clab-{{networkname}}-Server1-samba-LAN ip route add 0.0.0.0/0 via 192.168.40.1 dev eth1
docker exec clab-{{networkname}}-Server1-samba-LAN bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec clab-{{networkname}}-Server2-vpn-LAN ip addr add 192.168.40.10/24 dev eth1
docker exec clab-{{networkname}}-Server2-vpn-LAN ip route delete default
docker exec clab-{{networkname}}-Server2-vpn-LAN ip route add 0.0.0.0/0 via 192.168.40.1 dev eth1
docker exec clab-{{networkname}}-Server2-vpn-LAN bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec -d clab-{{networkname}}-Server3-DNS-WAN {{ ipv6_configuration }}
docker exec clab-{{networkname}}-Server3-DNS-WAN apt-get update -y
docker exec clab-{{networkname}}-Server3-DNS-WAN apt-get install {{ basic_packages }}
docker exec clab-{{networkname}}-Server3-DNS-WAN apt-get install curl -y
docker exec clab-{{networkname}}-Server3-DNS-WAN apt-get install dnsutils -y

docker exec clab-{{networkname}}-Server3-DNS-WAN apt-get install nsd -y

docker exec clab-{{networkname}}-Server3-DNS-WAN ip addr add 5.5.5.5/8 dev eth1
docker exec clab-{{networkname}}-Server3-DNS-WAN ip route delete default
docker exec clab-{{networkname}}-Server3-DNS-WAN ip route add 0.0.0.0/0 via 5.0.0.1 dev eth1
docker exec clab-{{networkname}}-Server3-DNS-WAN bash -c 'echo "nameserver 5.5.5.5" > /etc/resolv.conf'

docker exec clab-{{networkname}}-Server3-DNS-WAN nsd-control-setup
docker exec clab-{{networkname}}-Server3-DNS-WAN nsd
