name: {{ networkname }}

topology:
  defaults:
    kind: linux
  nodes:
    router1-WAN:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router1-WAN/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router1-WAN/frr.conf:/etc/frr/frr.conf
    router2-LAN:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router2-LAN/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router2-LAN/frr.conf:/etc/frr/frr.conf
    router3-Internet:
      image: {{ frrimage }}
      binds:
        - /etc/containerlab/{{networkname}}/router3-Internet/daemons:/etc/frr/daemons
        - /etc/containerlab/{{networkname}}/router3-Internet/frr.conf:/etc/frr/frr.conf
    br1-DMZ:
      image: {{ bridgeclientimage }}
    br2-LAN:
      image: {{ bridgeclientimage }}
    br3-Internet:
      image: {{ bridgeclientimage }}
    Standalone-Client-LAN:
      image: {{ bridgeclientimage }}
    Ubuntu-Client-LAN:
      image: {{ ubuntuserverimage }}
    Attacker-LAN:
      image: {{ ubuntuserverimage }}
{% for i in range(1, NumberofLANclients | int +1) %}
    Client{{ i }}-LAN:
      image: {{ bridgeclientimage }}
{% endfor %}
    Server1-nginx-LAN:
      image: {{ webservernginximage }}
    Server2-ubuntu-LAN:
      image: {{ ubuntuserverimage }}
{% for i in range(1, NumberofWANclients | int +1) %}
    Client{{ i }}-WAN:
      image: {{ bridgeclientimage }}
{% endfor %}
    Attacker-WAN:
      image: {{ ubuntuserverimage }}
    Server1-nginx-WAN:
      image: {{ webservernginximage }}
    Server2-ubuntu-WAN:
      image: {{ ubuntuserverimage }}
    Server3-DNS-WAN:
      image: {{ ubuntuserverimage }}
      binds:
        - /etc/containerlab/{{networkname}}/nsd.conf:/etc/nsd/nsd.conf
        - /etc/containerlab/{{networkname}}/LANsite.dev.zone:/etc/nsd/LANsite.dev.zone
        - /etc/containerlab/{{networkname}}/WANsite.dev.zone:/etc/nsd/WANsite.dev.zone

  links:
{% for k in range(1, NumberofWANclients | int +1) %}
    - endpoints: ["Client{{ k }}-WAN:eth1", "br3-Internet:eth{{ k +5 }}"]
{% endfor %}
    - endpoints: ["Server3-DNS-WAN:eth1", "br3-Internet:eth5"]
    - endpoints: ["Attacker-WAN:eth1", "br3-Internet:eth4"]
    - endpoints: ["Server1-nginx-WAN:eth1", "br3-Internet:eth3"]
    - endpoints: ["Server2-ubuntu-WAN:eth1", "br3-Internet:eth2"]
    - endpoints: ["br3-Internet:eth1", "router3-Internet:eth1"]
    - endpoints: ["router3-Internet:eth2", "router1-WAN:eth1"]
    - endpoints: ["router1-WAN:eth3", "br1-DMZ:eth1"]
    - endpoints: ["Server1-nginx-LAN:eth1", "br1-DMZ:eth2"]
    - endpoints: ["Server2-ubuntu-LAN:eth1", "br1-DMZ:eth3"]    
    - endpoints: ["router1-WAN:eth2", "router2-LAN:eth1"]
    - endpoints: ["router2-LAN:eth2", "br2-LAN:eth1"]
    - endpoints: ["router2-LAN:eth3", "br2-LAN:eth2"]
    - endpoints: ["router2-LAN:eth4", "br2-LAN:eth3"]
    - endpoints: ["Attacker-LAN:eth1", "br2-LAN:eth4"]
    - endpoints: ["Ubuntu-Client-LAN:eth1", "br2-LAN:eth6"]
    - endpoints: ["Standalone-Client-LAN:eth1", "br2-LAN:eth5"]
{% for y in range(1, NumberofLANclients | int +1) %}
    - endpoints: ["Client{{ y }}-LAN:eth1", "br2-LAN:eth{{ y +6 }}"]
{% endfor %}