#!/bin/sh

# Random variable declaration for start/end time
{% set random_start_time = range(1, 30) | random %}
{% set random_end_time = range(1, 30) | random %}


# Random Start Time Cronjob 'WANweb.sh'
croncmd="bash /WANweb.sh"
{% if random_start_time >= 15 %}
cronjob="{{range(1, 15) | random }} 9 * * 1-5 $croncmd"
{% else %}
cronjob="{{45 + range(1, 15) | random }} 8 * * 1-5 $croncmd"
{% endif %} 


# Random End Time for all Cronjobs
killcroncmd="crontab -r"
{% if random_end_time >= 15 %}
killcronjobs="{{45 + range(1, 15) | random }} 16 * * 1-5 $killcroncmd"
{% else %}
killcronjobs="{{45 + range(1, 15) | random }} 16 * * 1-5 $killcroncmd"
{% endif %} 


# Adding Cronjob Entries
( crontab -l | grep -v -F "$croncmd" ; echo "$cronjob" ) | crontab -
( crontab -l | grep -v -F "$killcroncmd" ; echo "$killcronjobs" ) | crontab -




