#!/bin/sh

docker exec clab-{{networkname}}-Server1-nginx-DMZ apt-get update -y
docker exec clab-{{networkname}}-Server1-nginx-DMZ apt-get install {{ basic_packages }}
docker exec -d clab-{{networkname}}-Server1-nginx-DMZ ip addr add 172.16.0.2/24 dev eth1
docker exec -d clab-{{networkname}}-Server1-nginx-DMZ ip route delete default
docker exec clab-{{networkname}}-Server1-nginx-DMZ {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-Server1-nginx-DMZ ip route add 0.0.0.0/0 via 172.16.0.1 dev eth1
docker exec -d clab-{{networkname}}-Server1-nginx-DMZ bash -c 'echo "nameserver 127.0.0.1
nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'

docker exec clab-{{networkname}}-Server2-control_ftp-DMZ apk --no-cache add openssh vim openrc vsftpd 
docker exec -d clab-{{networkname}}-Server2-control_ftp-DMZ ip addr add 172.16.0.3/24 dev eth1
docker exec -d clab-{{networkname}}-Server2-control_ftp-DMZ ip route delete default
docker exec -d clab-{{networkname}}-Server2-control_ftp-DMZ sysctl net.ipv6.conf.all.disable_ipv6=1
docker exec -d clab-{{networkname}}-Server2-control_ftp-DMZ ip route add 0.0.0.0/0 via 172.16.0.1 dev eth1
docker exec -d clab-{{networkname}}-Server2-control_ftp-DMZ sh -c 'echo "nameserver 172.16.0.5
nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ adduser sshuser
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ sh -c '(echo "sshuserpassword"; sleep 1; echo "sshuserpassword";) | passwd sshuser'
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ sh -c "echo 'PermitRootLogin yes' >> /etc/ssh/sshd_config"
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ sh -c 'ssh-keygen -A'
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ sh -c 'rc-status'
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ sh -c 'touch /run/openrc/softlevel'
docker exec clab-{{networkname}}-Server2-control_ftp-DMZ sh -c '/etc/init.d/sshd restart'

docker exec clab-{{networkname}}-Server3-nginx-DMZ apt-get update -y
docker exec clab-{{networkname}}-Server3-nginx-DMZ apt-get install {{ basic_packages }}
docker exec clab-{{networkname}}-Server3-nginx-DMZ apt-get install openssl -y

docker exec -d clab-{{networkname}}-Server3-nginx-DMZ ip addr add 172.16.0.4/24 dev eth1
docker exec -d clab-{{networkname}}-Server3-nginx-DMZ ip route delete default
docker exec clab-{{networkname}}-Server3-nginx-DMZ {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-Server3-nginx-DMZ ip route add 0.0.0.0/0 via 172.16.0.1 dev eth1
docker exec -d clab-{{networkname}}-Server3-nginx-DMZ bash -c 'echo "nameserver 127.0.0.1
nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'
docker exec clab-{{networkname}}-Server3-nginx-DMZ bash -c 'openssl req -x509 -newkey rsa:4096 -nodes -out /etc/ssl/certs/localhost.crt -keyout /etc/ssl/private/localhost.key -days 365 -subj "/C=NL/O=httpsDMZsite/OU=Domain Control Validated/CN=*.httpsDMZsite.dev"'
docker cp /etc/containerlab/{{networkname}}/httpsDMZsite.conf clab-{{networkname}}-Server3-nginx-DMZ:/etc/nginx/conf.d/default.conf
docker exec clab-{{networkname}}-Server3-nginx-DMZ bash -c 'service nginx reload'

docker exec clab-{{networkname}}-Server4-NSD-DMZ apk --no-cache add nsd
docker exec -d clab-{{networkname}}-Server4-NSD-DMZ ip addr add 172.16.0.5/24 dev eth1
docker exec -d clab-{{networkname}}-Server4-NSD-DMZ ip route delete default
docker exec -d clab-{{networkname}}-Server4-NSD-DMZ sysctl net.ipv6.conf.all.disable_ipv6=1
docker exec -d clab-{{networkname}}-Server4-NSD-DMZ ip route add 0.0.0.0/0 via 172.16.0.1 dev eth1
docker exec -d clab-{{networkname}}-Server4-NSD-DMZ sh -c 'echo "nameserver 127.0.0.1
nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'
docker exec clab-{{networkname}}-Server4-NSD-DMZ nsd