#!/bin/sh

docker exec -d clab-{{networkname}}-Server1-samba-LAN chmod u+x /root/SMBconf.sh
docker exec -d clab-{{networkname}}-Server1-samba-LAN bash /root/SMBconf.sh

docker exec -d clab-{{networkname}}-Server1-samba-LAN ip addr add 192.168.40.5/24 dev eth1
docker exec -d clab-{{networkname}}-Server1-samba-LAN ip route delete default
docker exec -d clab-{{networkname}}-Server1-samba-LAN sysctl net.ipv6.conf.all.disable_ipv6=1
docker exec -d clab-{{networkname}}-Server1-samba-LAN ip route add 0.0.0.0/0 via 192.168.40.1 dev eth1
docker exec -d clab-{{networkname}}-Server1-samba-LAN bash -c 'echo "nameserver 172.16.0.5" > /etc/resolv.conf'

docker exec clab-{{networkname}}-Server2-vpn-LAN bash -c 'wg genkey | tee /etc/wireguard/privatekey | wg pubkey > /etc/wireguard/publickey'
docker exec -d clab-{{networkname}}-Server2-vpn-LAN ip addr add 192.168.40.10/24 dev eth1
docker exec -d clab-{{networkname}}-Server2-vpn-LAN ip route delete default
docker exec -d clab-{{networkname}}-Server2-vpn-LAN {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-Server2-vpn-LAN ip route add 0.0.0.0/0 via 192.168.40.1 dev eth1
docker exec -d clab-{{networkname}}-Server2-vpn-LAN bash -c 'echo "nameserver 172.16.0.5
nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'

docker exec clab-{{networkname}}-Server2-vpn-LAN bash -c 'echo "[Interface]
Address = 192.168.50.2
PrivateKey = $(cat /etc/wireguard/privatekey)
ListenPort = 51820
PostUp   = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -o eth1 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -o eth1 -j MASQUERADE" > /etc/wireguard/wg0.conf'