#!/bin/sh

{% set LANdevs = (NumberofLANclients | int *DevsPercentage | int *0.01)|int %}

{% for k in range(1, LANdevs | int +1 ) %}
docker exec clab-{{networkname}}-Client{{k}}-DEVS-LAN apk --no-cache add curl samba-client bash openssh sshpass lftp
docker exec -d clab-{{networkname}}-Client{{k}}-DEVS-LAN ip addr add 192.168.10.{{k+1}}/24 dev eth1
docker exec -d clab-{{networkname}}-Client{{k}}-DEVS-LAN ip route delete default
docker exec -d clab-{{networkname}}-Client{{k}}-DEVS-LAN sysctl net.ipv6.conf.all.disable_ipv6=1
docker exec -d clab-{{networkname}}-Client{{k}}-DEVS-LAN ip route add 0.0.0.0/0 via 192.168.10.1 dev eth1
docker exec -d clab-{{networkname}}-Client{{k}}-DEVS-LAN sh -c 'echo "nameserver 172.16.0.5
nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'
docker exec -d clab-{{networkname}}-Client{{k}}-DEVS-LAN nohup bash LANweb.sh
{% endfor %}
