#!/bin/sh

docker exec clab-{{networkname}}-Attacker-WAN apt-get update -y
docker exec clab-{{networkname}}-Attacker-WAN apt-get install {{ basic_packages }}
docker exec clab-{{networkname}}-Attacker-WAN apt-get -yq install pip ssh
docker exec clab-{{networkname}}-Attacker-WAN pip install atomic-operator
docker exec clab-{{networkname}}-Attacker-WAN atomic-operator get_atomics --destination "/root/atomic-operator"

docker exec -d clab-{{networkname}}-Attacker-WAN {{ ipv6_configuration }}
docker exec -d clab-{{networkname}}-Attacker-WAN ip addr add 10.0.0.3/8 dev eth1
docker exec -d clab-{{networkname}}-Attacker-WAN ip route delete default
docker exec -d clab-{{networkname}}-Attacker-WAN ip route add 0.0.0.0/0 via 10.0.0.1 dev eth1
docker exec clab-{{networkname}}-Attacker-WAN bash -c 'echo "nameserver 172.16.0.5" > /etc/resolv.conf'