#!/bin/sh

{% set WANadmins = (NumberofWANclients | int *AdminPercentage | int *0.01)|int %}
{% set WANdevs = (NumberofWANclients | int *DevsPercentage | int *0.01)|int %}
{% set WANops = (NumberofWANclients | int *OpsPercentage | int *0.01)|int %}

{% for j in range(1, WANops | int +1) %}
docker exec -d clab-{{networkname}}-Client{{j}}-OPS-WAN sh -c 'echo "nameserver 1.1.1.1
nameserver 8.8.8.8" > /etc/resolv.conf'
docker exec clab-{{networkname}}-Client{{j}}-OPS-WAN apk --no-cache add bash wireguard-tools curl macchanger
docker exec clab-{{networkname}}-Client{{j}}-OPS-WAN bash -c 'modprobe wireguard'
docker exec clab-{{networkname}}-Client{{j}}-OPS-WAN bash -c 'wg genkey | tee /etc/wireguard/privatekey | wg pubkey > /etc/wireguard/publickey'
docker exec -d clab-{{networkname}}-Client{{j}}-OPS-WAN ip addr add 10.0.3.{{j+1}}/8 dev eth1
docker exec -d clab-{{networkname}}-Client{{j}}-OPS-WAN bash -c 'echo "nameserver 172.16.0.5" > /etc/resolv.conf'
docker exec -d clab-{{networkname}}-Client{{j}}-OPS-WAN ip route delete default
docker exec -d clab-{{networkname}}-Client{{j}}-OPS-WAN sysctl net.ipv6.conf.all.disable_ipv6=1
docker exec -d clab-{{networkname}}-Client{{j}}-OPS-WAN ip route add 0.0.0.0/0 via 10.0.0.1 dev eth1

docker exec clab-{{networkname}}-Server2-vpn-LAN bash -c 'cat /etc/wireguard/publickey' > pubkeyvpnserver

docker exec clab-{{networkname}}-Client{{j}}-OPS-WAN bash -c 'cat /etc/wireguard/publickey' > .ClientOPS{{j}}

docker exec -e PublicKeyc=$(cat .ClientOPS{{j}}) clab-{{networkname}}-Server2-vpn-LAN bash -c 'echo "[Peer]
PublicKey = ${PublicKeyc}
AllowedIPs = 192.168.50.{{WANdevs|int + WANadmins|int+j+3}}/32" >> /etc/wireguard/wg0.conf'

docker exec -e PublicKeys=$(cat pubkeyvpnserver) clab-{{networkname}}-Client{{j}}-OPS-WAN bash -c 'echo "[Interface]
Address = 192.168.50.{{WANdevs|int + WANadmins|int+j+3}}
PrivateKey = $(cat /etc/wireguard/privatekey)

[Peer]
PublicKey = ${PublicKeys}
Endpoint = 172.16.1.2:51820
AllowedIPs = 192.168.0.0/16

PersistentKeepalive = 25" > /etc/wireguard/wg0.conf'

{% endfor %}
